*.cache
.dockerignore
.editorconfig
.env
.git*
.idea
.phpstorm.meta.php
Dockerfile
LICENSE
README.md
_ide_helper.php
_ide_helper_models.php
bootstrap/cache/*
database/*.sqlite*
fly.*
http-client.*
http-request.*
rector.php
storage/framework/cache/*
!storage/framework/cache/data
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/openapi.yaml
tests
vendor
