*.cache
.dockerignore
.editorconfig
.env*
!.env.production
.git*
.idea
.phpstorm.meta.php
Dockerfile
LICENSE
README.md
bootstrap/cache/*
database/*.sqlite*
fly.*
http-requests
phpunit.xml
rector.php
storage/framework/cache/*
!storage/framework/cache/data
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/openapi.yaml
tests
vendor
